<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ys.user.adapter.out.persistence.UserEntityRepository">

    <insert id="insert" parameterType="com.ys.user.domain.UserEntity">
        INSERT INTO USER_INFO (
            USER_ID,
            TYPE,
            STATUS,
            EMAIL,
            PASSWORD,
            OLD_PASSWORD,
            PASSWORD_MODIFIED_AT,
            PASSWORD_WRONG_COUNT,
            LAST_LOGIN_AT,
            NAME,
            MOBILE,
            BIRTH_DATE,
            GENDER,
            ROLES,
            JOINED_AT,
            MODIFIED_AT,
            WITHDRAWN_AT
        ) VALUES (
            #{userId.id},
            #{type},
            #{status},
            #{account.email},
            #{account.password},
            #{account.oldPassword},
            #{account.passwordModifiedAt},
            #{account.passwordWrongCount},
            #{account.lastLoginAt},
            #{profile.name},
            #{profile.mobile},
            #{profile.birthDate},
            #{profile.gender},
            #{roles},
            #{joinedAt},
            #{modifiedAt},
            #{withdrawnAt}
        )
    </insert>

    <update id="updateByPasswordWrongCount" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                PASSWORD_WRONG_COUNT = #{account.passwordWrongCount},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <update id="updateByLastLoginAtAndPasswordWrongCount" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                LAST_LOGIN_AT = #{account.lastLoginAt},
                PASSWORD_WRONG_COUNT = #{account.passwordWrongCount},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <update id="updateByPassword" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                PASSWORD = #{account.password},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <update id="updateByProfile" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                NAME = #{profile.name},
                MOBILE = #{profile.mobile},
                BIRTH_DATE = #{profile.birthDate},
                GENDER = #{profile.gender},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <update id="updateByRoles" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                ROLES = #{roles},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <delete id="updateByWithdrawnAt" parameterType="com.ys.user.domain.UserEntity">
        UPDATE  USER_INFO
        SET
                WITHDRAWN_AT = #{withdrawnAt}
        WHERE
                USER_ID = #{userId.id}
    </delete>

    <resultMap id="userResultMap" type="com.ys.user.domain.UserEntity">
        <id property="userId.id" column="USER_ID" />
        <result property="type" column="TYPE" />
        <result property="status" column="STATUS" />
        <result property="roles" column="ROLES" />
        <result property="joinedAt" column="JOINED_AT" />
        <result property="modifiedAt" column="MODIFIED_AT" />
        <result property="withdrawnAt" column="WITHDRAWN_AT" />

        <association property="account" javaType="com.ys.user.domain.Account">
            <result property="email" column="EMAIL" />
            <result property="password" column="PASSWORD" />
            <result property="oldPassword" column="OLD_PASSWORD" />
            <result property="passwordModifiedAt" column="PASSWORD_MODIFIED_AT" />
            <result property="passwordWrongCount" column="PASSWORD_WRONG_COUNT" />
            <result property="lastLoginAt" column="LAST_LOGIN_AT" />
        </association>

        <association property="profile" javaType="com.ys.user.domain.Profile">
            <result property="name" column="NAME" />
            <result property="mobile" column="MOBILE" />
            <result property="birthDate" column="BIRTH_DATE" />
            <result property="gender" column="GENDER" />
        </association>
    </resultMap>

    <select id="selectOneById" parameterType="com.ys.user.domain.UserId" resultMap="userResultMap">
        SELECT  *
        FROM    USER_INFO
        WHERE   1 = 1
        AND     USER_ID = #{id}
    </select>

    <select id="selectOneByIdAndWithdrawnAtIsNull" parameterType="com.ys.user.domain.UserId" resultMap="userResultMap">
        SELECT  *
        FROM    USER_INFO
        WHERE   1 = 1
        AND     USER_ID = #{id}
        AND     WITHDRAWN_AT IS NULL
    </select>

    <select id="selectOneByEmail" parameterType="String" resultMap="userResultMap">
        SELECT  *
        FROM    USER_INFO
        WHERE   1 = 1
        AND     EMAIL = #{email}
    </select>
</mapper>