<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ys.authentication.adapter.out.persistence.UserRepository">
    <update id="updateByPasswordWrongCount" parameterType="com.ys.user.domain.User">
        UPDATE  USERS
        SET
                PASSWORD_WRONG_COUNT = #{account.passwordWrongCount},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <update id="updateByLastLoginAtAndPasswordWrongCount" parameterType="com.ys.user.domain.User">
        UPDATE  USERS
        SET
                LAST_LOGIN_AT = #{account.lastLoginAt},
                PASSWORD_WRONG_COUNT = #{account.passwordWrongCount},
                MODIFIED_AT = #{modifiedAt}
        WHERE
                USER_ID = #{userId.id}
    </update>

    <resultMap id="userResultMap" type="com.ys.user.domain.User">
        <id property="userId.id" column="USER_ID" />
        <result property="type" column="TYPE" />
        <result property="status" column="STATUS" />
        <result property="roles" column="ROLES" />
        <result property="joinedAt" column="JOINED_AT" />
        <result property="modifiedAt" column="MODIFIED_AT" />
        <result property="withdrawnAt" column="WITHDRAWN_AT" />

        <association property="account" javaType="com.ys.user.domain.Account">
            <result property="email" column="EMAIL" />
            <result property="password" column="PASSWORD" />
            <result property="oldPassword" column="OLD_PASSWORD" />
            <result property="passwordModifiedAt" column="PASSWORD_MODIFIED_AT" />
            <result property="passwordWrongCount" column="PASSWORD_WRONG_COUNT" />
            <result property="lastLoginAt" column="LAST_LOGIN_AT" />
        </association>

        <association property="profile" javaType="com.ys.user.domain.Profile">
            <result property="name" column="NAME" />
            <result property="mobile" column="MOBILE" />
            <result property="birthDate" column="BIRTH_DATE" />
            <result property="gender" column="GENDER" />
        </association>
    </resultMap>

    <select id="selectOneByIdAndWithdrawnAtIsNull" parameterType="com.ys.user.domain.UserId" resultMap="userResultMap">
        SELECT  *
        FROM    USERS
        WHERE   1 = 1
        AND     USER_ID = #{id}
        AND     WITHDRAWN_AT IS NULL
    </select>

    <select id="selectOneByEmailAndWithdrawnAtIsNull" parameterType="String" resultMap="userResultMap">
        SELECT  *
        FROM    USERS
        WHERE   1 = 1
        AND     EMAIL = #{email}
        AND     WITHDRAWN_AT IS NULL
    </select>
</mapper>